<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cartograph</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/leaflet.css') }}">

    <meta property="og:title" content="Cartograph">
    <meta property="og:site_name" content="Cartograph">
    <meta name="description" property="og:description" content="Cartograph Hiking Tracker">
    <meta property="og:type" content="map">
    <meta property="og:url" content="{{ base_url }}">
    <meta property="og:image" content="{{ url_for('static', filename='img/icon.svg') }}">
    <meta property="og:image:alt" content="The Cartograph logo">
    <meta property="og:locale" content="de">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" sizes="any">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
<script src="{{ url_for('static', filename='js/vendor/leaflet.js') }}"></script>

<div id="map"></div>

<div id="control">
    <span id="date-indicator-pane">Letztes Update: <span id="date-indicator">Keins :(</span></span>
    <!--
    <label id="mode-change-pane" class="ilflex center">
        <span class="switch-before">Ganze Route</span>
        <input type="checkbox" role="switch" id="mode-switch" onchange="modeChange(this)">
        <span class="switch-after">Zeitraffer</span>
    </label>
    -->
    <span class="iflex center" id="media-control">
        <span id="media-buttons">
            <button class="media-button iflex center" id="reset-button" onclick="resetButtonPressed()">
                <img src="{{ url_for('static', filename='img/backwards-fast.svg') }}" alt="Zum Anfang"/>
            </button>
            <button class="media-button iflex center" id="back-button" onclick="stepBackPressed()">
                <img src="{{ url_for('static', filename='img/backwards-step.svg') }}" alt="Einen Tag zurück"/>
            </button>
            <button class="media-button iflex center" id="play-button" onclick="playPausePressed()">
                <img src="{{ url_for('static', filename='img/play-pause.svg') }}" alt="Play/Pause"/>
            </button>
            <button class="media-button iflex center" id="forward-button" onclick="stepForwardPressed()">
                <img class="mirror-h" src="{{ url_for('static', filename='img/backwards-step.svg') }}"
                     alt="Einen Tag vor"/>
            </button>
            <button class="media-button iflex center" id="jump-end-button" onclick="toEndPressed()">
                <img class="mirror-h" src="{{ url_for('static', filename='img/backwards-fast.svg') }}" alt="Zum Ende"/>
            </button>
        </span>
        <span id="speed-contol">
            <input type="number" value="1" min="1" max="10" id="playback-speed" onchange="speedChange(this)"/>
            <label for="playback-speed">Tage / Sekunde</label>
        </span>
    </span>
</div>

<script>
class Photo {
    constructor(path, desc) {
        this.path = path;
        this.desc = desc;
    }
}

const WAYPOINTS = [{% for waypoint in waypoints %}
    {
        date: new Date({{ waypoint.date.timestamp() * 1000 | int }}),
        pos: L.latLng({{ waypoint.latitude }}, {{ waypoint.longitude }}),
    },
{% endfor %}
]

const PHOTO_DATA = [{% for segment in collation %}
    [{% for collation_point in segment %}
        {
            position: [{{ collation_point.pos.latitude }}, {{ collation_point.pos.longitude }}],
            main_index: {{ collation_point.main_idx }},
            fraction: {{ collation_point.sub_idx }},
            photos: [{% for photo in collation_point.photos %}
                new Photo("{{ photo }}", ""),
            {% endfor %}
            ]
        },
    {% endfor %}
    ],
{% endfor %}
]
</script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
